:root {
  --main-color: gray;
  --dark-color: #4a4a4a;
  --edge-color: #d9d9d9;
  --highlight: var(--edge-color);
}

* {
  font-family: arial;
  font-size: max(14px, 0.5em);
  border: 0px;
  padding: 0px;
  margin: 0px;
  vertical-align: middle;
}

input, textarea, select {
  margin: 5px;
  padding: 0.25em 0.5em;
  border: 1px solid var(--edge-color);
  border-radius: 5px;
}

input {
  height: 17px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

button {
  margin: 5px;
  padding: 0.3em 0.6em;
  background-color: var(--main-color);
  color: white;
  border-radius: 5px;
}

button:active {
  background-color: var(--dark-color);
}

textarea { /* i don't like this */
  height: 17px;
  max-height: 51px;
  min-height: 17px;
  width: 864.5px;
  max-width: 864.5px;
  min-width: 100px;
}

input[type="file"] {
  font-size: 0.9em;
  padding-top: 0.35rem;
}

input[type="number"] {
  appearance: textfield;
}

img {
  text-align: center
}

a:active, a:hover, a:focus, 
button:active, button:hover, button:focus {
  color: var(--highlight);
}

button {
  color: white;
  background: var(--main-color);
  outline-width: 0;
}

a {
  color: gray;
  text-decoration: none;
}

body{
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.slider {
  color: var(--main-color);
  background: var(--edge-color)
}