<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>Login</title>
    </head>
    <body>
        <h1>Error 404</h1>
        <p>There seems to be an issue</p>
    </body>
</html>