<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>Data</title>
    </head>
    <body>
       <!-- I messed up here...
        <script type="text/javascript" src="{{ url_for('static', filename='main.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='jquery.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='canvas.js')}}"></script> -->
        <label>Name</label><input type="text" placeholder="None"> <!-- replace placeholder with ip -->
        <br>
        <br>
        <form action="#" method="POST">
            <!-- {% set comps_enum = enumerate(components) %} -->
            {% for component in components %}
            <h1 id="{{ id(component) }}">{{ component.name }}</h1>
            <input type="checkbox"><label>Notify</label>
            {% for parameter in component.parameter %}
            <h2 class="parameter" id="{{ id(parameter) }}">{{ parameter.name }}</h2>
            {% if len(parameter.current) == 1 %}
            <input type="text" class="sliderValue" data-index="0" value="{{ parameter.current[0] }}" />
            <label>{{ parameter.unit }}</label>
            <br>
            <input type="range" class="sliderRange" data-index="0" min="{{ parameter.threshold[0] }}" max="{{ parameter.threshold[1] }}" value="{{ parameter.current[0] }}">
            {% elif len(parameter.current) == 2 %}
            <input type="text" class="sliderValue" data-index="0" value="{{ parameter.current[0] }}" />
            <input type="text" class="sliderValue" data-index="1" value="{{ parameter.current[1] }}" />
            <label>{{ parameter.unit }}</label>
            <br>
            <input type="range" class="sliderRange" data-index="0" min="{{ parameter.threshold[0] }}" max="{{ parameter.threshold[1] }}" value="{{ parameter.current[0] }}">
            <input type="range" class="sliderRange" data-index="1" min="{{ parameter.threshold[0] }}" max="{{ parameter.threshold[1] }}" value="{{ parameter.current[0] }}">
            {% endif%}
            {% endfor %}
            {% endfor %}
            <button action="#" method="POST">Save</button>
        </form>
        {% for component in components %}
        <script>
            let id = "{{ id(component) }}";
            let component = document.getElementById(id);
            let parameters = component.getElementsByClassName("parameter");
            
            for (let i = 0; i < parameters.length; i++) {
                sliders = parameters[i].getElementsByClassName("sliderValue");
                for (let j = 0; j < sliders.length; j++) {
                    let data_index = slideres[j].Attribute("data-index");
                    let text = parapeters[i].querySelectorAll("input[type='text']").querySelectorAll("input[data-index=" + data_index + "]");
                    let slider = slider[j];

                    text.value = slider.value
                    slide.oninput = function() {
                        text.value = this.value
                    }
                }
            }
        </script>
        {% endfor %}
    </body>
    <footer><i>Note: this webpage uses javascript</i></footer>
</html>