<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>Pods</title>
    </head>
    <body>
        <div>
            <h1>Found</h1>
            <!-- <a href="/pods/add/127.0.0.2">127.0.0.2</a> -->
            <h1>Connected</h1>
            <!-- <a href="/pods/pod">Device1</a> -->
            <h1>Disconnected</h1>
            <!-- <a href="/pods/pod">Device2</a> -->
        </div>
        <script>
            
        </script>
    </body>
    <footer><i>Note: this webpage uses javascript</i></footer>
</html>