<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>Login</title>
    </head>
    <body>
        <form action="#" method="POST">
            <input type="text" name="ssid" placeholder="ssid">
            <br>
            <input type="text" name="pwd" placeholder="password">
            <br>
            <button>Login</button>
        </form>
    </body>
</html>